.slider {
  overflow: hidden;
  margin: auto;
  max-width: 600px;
}

.slider__container {
  display: grid;
  grid-template-columns: repeat(9, 100vw);
}

.slider__figure {
  margin: 0;
  width: 100%;
}

@media (max-width: 599px) {
  .slider__container {
    grid-template-columns: repeat(9, 100%);
    transition: 200ms transform ease;
  }

  .header__title,
  .header__subtitle {
    padding-top: 8px;
  }
}

@media (min-width: 600px) {
  .slider__container {
    grid-template-columns: repeat(9, calc(33.3333% - 10px));
    gap: 15px;
    transition: 400ms transform ease;
  }
}
