.section {
  width: 100%;
  overflow: hidden;
}

.section--gray-0 {
  background-color: var(--c-gray-0);
}

.section--gray-1 {
  background-color: var(--c-gray-1);
}

.section--gray-2 {
  background-color: var(--c-gray-2);
}

.section--divided {
  background: linear-gradient(
    to bottom right,
    var(--c-gray-1) 50%,
    var(--c-gray-2) 50%
  );
}
