:root {
  --c-green-0: #4d6128;
  --c-green-1: #213802;

  --c-gray-0: #bfbfbf;
  --c-gray-1: #707070;
  --c-gray-2: #434343;
  --c-gray-3: #313131;

  --c-white: #fff;

  --c-text: #3d3d3d;
}

img {
  max-width: 100%;
}
